h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1d3043;
}
h2 {
  text-align: center;
}
.temperatureText {
  font-size: x-large;
  font-weight: 900;
  color: #1d3043;
}
.image {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.container {
  border: 1px solid;
  padding: 20px;
  margin-top: 20px;
}
form {
  text-align: center;
}
.temperature {
  font-size: large;
  font-weight: 500;
  text-align: center;
}
body {
  background: linear-gradient(45deg, #7aacd4, #044383);
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
